
<form [formGroup]="userFormGroup" (ngSubmit)="onSubmit()" >
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title ">Register User</h3>
    </div>
    <div class="panel-body">
      <div class="form-group" [ngClass]="{'has-error':userFormGroup.get('firstName').touched && !userFormGroup.get('firstName').valid}">
        <label class="col-sm-2 control-label" for="firstName">First Name</label>
        <div class="col-sm-8">
          <input id="firstName" type="text" formControlName="firstName" class="form-control" />
          <span class="error" *ngIf="userFormGroup.get('firstName').touched && !userFormGroup.get('firstName').valid">
            Please enter first name.
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="last_name">Last Name</label>
        <div class="col-sm-8">
          <input id="last_name" type="text" formControlName="lastName" class="form-control" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="age">Age</label>
        <div class="col-sm-8">
          <input id="age" type="text" formControlName="age" class="form-control" />
        </div>
      </div>

    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" type="submit">Create</button>
    </div>
  </div>
</form>

