<form
  [formGroup]="userFormGroup"
  (ngSubmit)="onSubmit()"
  class="needs-validation"
  novalidate
>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title ">Register User</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="firstName">First Name</label>
        <div class="col-sm-8">
          <input
            id="firstName"
            type="text"
            formControlName="firstName"
            class="form-control  "
            [ngClass]="{
              'is-invalid': formErrors.firstName,
              'is-valid':
                userFormGroup.get('firstName').valid &&
                userFormGroup.get('firstName').touched
            }"
            (blur)="validateForm()"
          />
          <span class="invalid-feedback" *ngIf="formErrors.firstName">
            <span *ngIf="formErrors.firstName">
              {{ formErrors.firstName }}
            </span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="email">Email</label>
        <div class="col-sm-8">
          <input
            id="email"
            type="text"
            formControlName="email"
            class="form-control"
            [ngClass]="{
              'is-invalid': formErrors.email,
              'is-valid':
                userFormGroup.get('email').valid &&
                userFormGroup.get('email').touched
            }"
            (blur)="validateForm()"
          />
          <span class="invalid-feedback" *ngIf="formErrors.email">
            <span *ngIf="formErrors.email">
              {{ formErrors.email }}
            </span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="phone">Phone</label>
        <div class="col-sm-8">
          <input
            id="phone"
            type="text"
            formControlName="phone"
            class="form-control"
            [ngClass]="{
              'is-invalid': formErrors.phone,
              'is-valid':
                userFormGroup.get('phone').valid &&
                userFormGroup.get('phone').touched
            }"
            (blur)="validateForm()"
          />
          <span class="invalid-feedback" *ngIf="formErrors.phone">
            <span *ngIf="formErrors.phone">
              {{ formErrors.phone }}
            </span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="age">Age</label>
        <div class="col-sm-8">
          <input
            id="age"
            type="text"
            formControlName="age"
            class="form-control"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <button
            type="button"
            class="btn btn-primary"
            (click)="addSkill()"
            [disabled]="userFormGroup.get('skill').invalid"
          >
            Add Skill
          </button>
        </div>
      </div>
      <div
        class="form-group  bg-light text-dark"
        formArrayName="skill"
        style="width: 53rem; "
        *ngFor="
          let skill of this.userFormGroup.get('skill').controls;
          let i = index
        "
      >
        <div class="form-group" [formGroupName]="i">
          <div class="form-group">
            <label class="col-sm-2 control-label" [attr.for]="'skillname ' + i"
              >Skill</label
            >
            <div
              class="col-sm-12 d-flex align-items-end flex-column bd-highlight mb-3"
            >
              <button
                type="button"
                class="btn btn-primary btm-sm btn-danger pull-right"
                *ngIf="this.userFormGroup.get('skill').length>1"
                (click)="removeSkills(i)"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                [id]="'skillname ' + i"
                placeholder="C#, Java, Angular etc"
                formControlName="skillname"
                [ngClass]="{
                  'is-invalid':
                    skill.get('skillname').invalid &&
                    skill.get('skillname').touched,
                  'is-valid':
                    skill.get('skillname').valid &&
                    skill.get('skillname').touched
                }"
              />
              <span
                class="invalid-feedback"
                *ngIf="
                  skill.get('skillname').errors?.required &&
                  skill.get('skillname').touched
                "
              >
                SkillName is required
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" [for]="'experience ' + i"
              >Experience</label
            >
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                [id]="'experience ' + i"
                placeholder="Experience"
                formControlName="experience"
                [ngClass]="{
                  'is-invalid':
                    skill.get('experience').invalid &&
                    skill.get('experience').touched,
                  'is-valid':
                    skill.get('experience').valid &&
                    skill.get('experience').touched
                }"
              />
              <span
                class="invalid-feedback"
                *ngIf="
                  skill.get('experience').errors?.required &&
                  skill.get('experience').touched
                "
              >
                Experience is required
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="col-sm-2 control-label">Proficiency</label>
              <div class="col-sm-8 form-check  ">
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="Beginner"
                    formControlName="proficiency"
                    [ngClass]="{
                      'is-invalid':
                        skill.get('proficiency').invalid &&
                        skill.get('proficiency').touched,
                      'is-valid':
                        skill.get('proficiency').valid &&
                        skill.get('proficiency').touched
                    }"
                  />
                  <label class="form-check-label">Beginner</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="Advanced"
                    formControlName="proficiency"
                    [ngClass]="{
                      'is-invalid':
                        skill.get('proficiency').invalid &&
                        skill.get('proficiency').touched,
                      'is-valid':
                        skill.get('proficiency').valid &&
                        skill.get('proficiency').touched
                    }"
                  />
                  <label class="form-check-label">Advanced</label>
                </div>
                <span
                  class="invalid-feedback"
                  *ngIf="skill.get('proficiency').errors?.required"
                >
                  Proficiency is required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-group">
      <div class="panel-footer">
        <button class="btn btn-primary" type="submit">Create</button>
      </div>
      <span></span>
      <div class="panel-footer">
        <button class="btn btn-primary" type="button" (click)="loadData()">
          Load Data
        </button>
      </div>
    </div>
  </div>
</form>
